@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  background-color: #5A3665;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  width: 100hw;
}

.reload {
  text-align: center;
  padding: 20px;
}

.reload-key {
  color: white;
  font-size: 22px;
  background-color: #5246B8;
  padding: 8px;
  border-radius: 8px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.title {
  font-family: cursive;
  font-size: 62px;
  padding-top: 8px;
  padding-bottom: 12px;
  text-align: center;
  filter: drop-shadow(0 2 1 crimson);
  color: #F0FFF0;
}

.key-card {
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.grey {
  background-color: #BEB3C2;
}

.blue {
  background-color: #5246B8;
}

.red {
  background-color: #B4305E;
}

.black {
  background-color: #060613;
}

.rules {
  border: 1px dotted;
  border-radius: 4px;
  margin: 0 auto;
  line-height: 28px;
  padding: 12px;
  font-size: 18px;
  color: #18191A;
  background-color: #F0FFF0;
  transition: width 1s;
}

@media (min-width: 1024px) {
  .rules {
    width: 1000px;
  }
}
@media (max-width: 1024px) {
  .rules {
    width: 500px;
  }
}
@media (max-width: 499px) {
  .rules {
    width: 90vw;
  }
}
