.App {
  background-color: #5A3665;
}



.App-link {
  color: #61dafb;
}

.title {
  font-family: cursive;
  font-size: 62px;
  margin-top: 8px;
  margin-bottom: 12px;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem crimson);
  color: #F0FFF0;
}

.key-card {
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.grey {
  background-color: #BEB3C2;
}

.blue {
  background-color: #5246B8;
}

.red {
  background-color: #B4305E;
}

.black {
  background-color: #060613;
}

.rules {
  border: 1px dotted;
  border-radius: 4px;
  width: 900px;
  margin: 0 auto;
  line-height: 28px;
  padding: 10px;
  font-size: 18px;
  color: #18191A;
  background-color: #F0FFF0;
}
